VNPAY_TMN_CODE=YOUR_SANDBOX_TMN_CODE
VNPAY_HASH_SECRET=YOUR_SANDBOX_HASH_SECRET
VNPAY_RETURN_URL=http://localhost:5001/sportbook-e74c7/asia-southeast1/vnpayReturn
VNPAY_LOCAL_RETURN_UPDATES_PAYMENT=true
